<?xml version="1.0" encoding="utf-8"?>
<info>
    <HDF5FolderPath>\\192.168.1.3\datashare\9.Data\2.CTrap\C-trap data\ds DNA</HDF5FolderPath>
    <ThirdPartyMatFolderPath>C:\Users\hello\Documents\WeChat Files\jungfraujochxs\FileStorage\File\2022-01</ThirdPartyMatFolderPath>
    <BaselineFolderPath>E:\DNA\mat_data</BaselineFolderPath>
    <MatFolderPath>/Volumes/DataShare/9.Data/2.CTrap/dsDNA</MatFolderPath>
    <MatPath_TV>E:\DNA\mat_data</MatPath_TV>
    <ReportFolderPath>E:\Code\SMDPT</ReportFolderPath>
    <Para>
        <F_StageMode>0</F_StageMode>       
        <WLC_Model_Index>3</WLC_Model_Index> 
        <PSDMode>2</PSDMode>
        <ExperimentMode>2</ExperimentMode>
        <Y_axisMaxValue>70</Y_axisMaxValue>
        <Factor>390</Factor> 
        <Stiffness1>461.386</Stiffness1>
        <RTI>0</RTI> 
        <Temperature>25.0</Temperature>
        <BeadsCompensation>0</BeadsCompensation>
        <StdDevConstant>1.5</StdDevConstant>
        <DataFormat>5</DataFormat>
        <SourceFolder>F:\</SourceFolder>
        <DestFolder>D:\</DestFolder>
        <DSM_DFF>3</DSM_DFF>
        <Factor_DFF>22</Factor_DFF>
        <FitHandleData>0</FitHandleData>
        <Bead1Diameter>1</Bead1Diameter>
        <Bead2Diameter>1.06</Bead2Diameter>
        <DeltaForceMode>1</DeltaForceMode>
        <AutoDeltaForce>-0.495</AutoDeltaForce>
        <ManualDeltaForce>0</ManualDeltaForce>
        <NumBins>10</NumBins>
        <WindowSize>390</WindowSize>
        <DataSmoothMode>2</DataSmoothMode>
        <WindowSize_DFF>11</WindowSize_DFF>
    </Para>
    <BC_Para>
        <P1>-0.1008007</P1>
        <P2>-0.65021314</P2>
        <P3>-1.4750246</P3>
        <P4>-0.084359317</P4>
        <P5>5.4068766</P5>
        <P6>7.8980935</P6>
        <P7>1.5783183</P7>
        <P8>-1.0233535</P8>
        <P9>4.6915797</P9>
        <P10>4.8883282</P10>
        <Mean>1049.2485</Mean>
        <Std>162.63965</Std>
        <MinE>738.66749</MinE>
        <MaxE>1280.9102</MaxE>
    </BC_Para>
    <WLC_1_Handle>
        <L0>1000</L0>
        <Lp>40</Lp>
    </WLC_1_Handle>
    <WLC_1_Polymer>
        <L0>232</L0>
        <Lp>1.18</Lp>
        <L0Init>10</L0Init>
    </WLC_1_Polymer>
    <WLC_2_Handle>
        <L0>1000</L0>
        <Lp>42</Lp>
        <K>1163</K>
    </WLC_2_Handle>
    <WLC_2_Polymer>
        <L0>232</L0>
        <Lp>2</Lp>
        <K>300</K>
        <L0Init>3</L0Init>
    </WLC_2_Polymer>
    <WLC_3_Handle>
        <L0>1000</L0>
        <Lp>42</Lp>
        <K>1163</K>
    </WLC_3_Handle>
    <WLC_3_Polymer>
        <L0>108</L0>
        <Lp>1.2</Lp>
        <K>200</K>
        <L0Init>1</L0Init>
    </WLC_3_Polymer>
</info>